<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>860354943324-57d89f7v0j1cbekhd7a9vhj6lruaa3de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860354943324-57d89f7v0j1cbekhd7a9vhj6lruaa3de</string>
	<key>API_KEY</key>
	<string>AIzaSyCtxjAeAtUSYgrrzOFcE0vFyuzgLflrjPA</string>
	<key>GCM_SENDER_ID</key>
	<string>860354943324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dvlper.soccer5</string>
	<key>PROJECT_ID</key>
	<string>sizzling-heat-9572</string>
	<key>STORAGE_BUCKET</key>
	<string>sizzling-heat-9572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:860354943324:ios:21ece113884808cc</string>
	<key>DATABASE_URL</key>
	<string>https://sizzling-heat-9572.firebaseio.com</string>
</dict>
</plist>